[submodule "Core/vendor/ponup-api"]
	path = Core/vendor/ponup-api
	url = ../api-cpp-client.git
[submodule "Kangaroo"]
	path = Kangaroo
	url = ../engine-desktop.git # Relative to Thiefcatcher git URL (SSH or HTTPS)
