CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
cmake_install.cmake
Core/thiefcatcher-errors.log
Core/ThiefCatcher
Core/CMakeFiles/
*.o
thiefcatcher-errors.log
Core/data/game.db
*.vcxproj
*.vcxproj.filters
Win32
*.vcxproj.user
THIEF_CATCHER.*
Core/Debug
Core/ThiefCatcher.dir
Core/dev/game.db
Core/Release/
nbproject
.vs 
Core/ThiefCatcher.app/
CMakeScripts
.vscode
build
.idea
conanbuildinfo.cmake
conanbuildinfo.txt
graph_info.json
conaninfo.txt
tags
Core/bin/
