CMakeFiles/
Makefile
cmake_install.cmake
*.a
Debug
*.vcxproj
*.vcxproj.filters
CMakeCache.txt
Kangaroo.dir
Project.sdf
Project.sln
Project.v12.suo
Release/
CMakeScripts
kangaroo.xcodeproj/
*.cbp
Testing
